<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Mim</title>
</head>
<body>
  <div id="sidebar">
    <a href="/profile">
      <div class="avatar-username" href>
        <img class="avatar" src="data:<%= user.avatar.contentType %>;base64,<%= user.avatar.data.toString('base64') %>" alt="Image">
        <div class="username"><%= user.username %></div>
      </div>
    </a>
    <div id="user-navigation">
      <a href="/profile">My Profile</a>
      <a href="/post-upload">Upload New Meme</a>
      <a href="/settings">Settings</a>
      <a href="/logout">Log Out</a>
    </div>
  </div>
  <div id="newsfeed">
    <button id="sidebar-toggle-btn" onclick="toggleSidebar()">=</button>
    <div id="post-list">
      <% if (posts) { %>
        <ul>
          <% posts.forEach(post => { %>
            <li id="<%= post.id %>" class="post">
              <div class="avatar-username">
                <img class="avatar" src="<%= post.avatar ? 'data:' + post.imageContentType + ';base64,' + (post.avatar.data ? post.avatar.data.toString('base64') : '') : '' %>" alt="Avatar">
                <a href="" class="username"><%= post.author %></a>
              </div>
              <p id="caption"><%= post.caption %></p>
              <img id="image" class="image" src="data:<%= post.image.contentType %>;base64,<%= post.image.data.toString('base64') %>" alt="Image">
              <div id="like-comment-btn" class="like-comment-section">
                <div id="like">
                    <button id="like-btn" onclick="setNumLikes('<%= post.id %>')">&#128528</button>
                    <p id="num-likes">(<%= post.numLikes %>)</p>
                    <div id="like-check">0</div>
                </div>
                <div id="comment">
                    <button id="comment-btn">&#128490</button>
                    <p id="num-comments">(<%= post.numComments %>)</p>
                </div>
              </div>
            </li>
          <% }) %>
        </ul>
      <% } %>
    </div>
  </div>
	<script>
    function setTime() {
      const currentTime = new Date();
      document.getElementById('timeCreate').value = currentTime.toISOString();
    }

    function toggleSidebar() {
      var sidebar = document.getElementById('sidebar');
      var newsfeed = document.getElementById('newsfeed');

      if (sidebar.style.left === "-3px") {
        sidebar.style.left = "-303px";
        newsfeed.style.marginLeft = "0";
      } else {
        sidebar.style.left = "-3px";
        newsfeed.style.marginLeft = "300px";
      }
    }

    function setNumLikes(postId) {
      var likedPost = document.getElementById(postId);
      var likeButton = likedPost.querySelector('#like-btn');
      var numLikesEntity = likedPost.querySelector('#num-likes');
      var likeCheckEntity = likedPost.querySelector('#like-check')
      var numLikes = numLikesEntity.innerHTML;
      var newLikeCount;
      if (likeCheckEntity.innerHTML == '0') {
        newLikeCount = Number(numLikes.slice(1, numLikes.length - 1)) + 1;
        likeCheckEntity.innerHTML = '1';
        likeButton.innerHTML = '&#128514'
      } else {
        newLikeCount = Number(numLikes.slice(1, numLikes.length - 1)) - 1;
        likeCheckEntity.innerHTML = '0';
        likeButton.innerHTML = '&#128528'
      }
      numLikesEntity.innerHTML = '(' + newLikeCount + ')';

    }
  </script>
</body>
</html>
