<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Mim</title>
</head>
<body>
  <%- include('sidebar.ejs') %>
  <div class="newsfeed">
    <button id="sidebar-toggle-btn" onclick="toggleSidebar()">
      <img src="/images/menu_icon.png" alt="">
    </button>  
    <div class="post-list">
      <% if (posts.length > 0) { %>
        <ul>
          <% posts.forEach(post => { %>
            <li id="<%= post.id %>" class="post">
              <div class="avatar-username">
                <img class="avatar" src="<%= post.avatar ? 'data:' + post.imageContentType + ';base64,' + (post.avatar.data ? post.avatar.data.toString('base64') : '') : '' %>" alt="Avatar">
                <div class="username-container">
                  <a href="/profile/<%= post.author%>" class="username"><%= post.author %></a>
                  <div class="time">
                    <%= helper.adjustTime(post.timeCreate) %>
                  </div>
                </div>
              </div>
              <p id="caption"><%= post.caption %></p>
              <img id="image" class="image" src="data:<%= post.image.contentType %>;base64,<%= post.image.data.toString('base64') %>" alt="Image">
              <div id="like">
                  <button class="like-btn" onclick="handleLike('<%= post.id %>', '<%= user.username %>')">
                    <% if (post.liked) { %>
                      <div>&#128514</div>
                    <% } else { %>
                      <div>&#128528</div>
                    <% } %>
                  </button>
                  <div class="likes-container">
                    <div>(</div>
                    <div id="num-likes"><%= post.numLikes %></div>
                    <div>&nbsp;haha)</div>
                    <div id="haha-emoji" class="no-display">&#128528</div>
                  </div>
                  <div id="like-check" class="no-display"></div>
              </div>
            </li>
          <% }) %> 
        </ul>
      <% } %>
    </div>
  </div>
	<script>
    function setTime() {
      const currentTime = new Date();
      document.getElementById('timeCreate').value = currentTime.toISOString();
    }

    function setNumLikes(postId) {
      var likedPost = document.getElementById(postId);
      var likeButton = likedPost.querySelector('.like-btn');
      var numLikesEntity = likedPost.querySelector('#num-likes');
      var emoji = likeButton.querySelector("div");
      var numLikes = numLikesEntity.innerHTML;
      var newLikeCount;

      if (emoji.innerHTML === document.getElementById('haha-emoji').innerHTML) {
        newLikeCount = Number(numLikes) + 1;
        emoji.innerHTML = '&#128514'
      } else {
        newLikeCount = Number(numLikes) - 1;
        emoji.innerHTML = '&#128528'
      }
      numLikesEntity.innerHTML = newLikeCount;
    }

    function handleLike(postId, username) {
      setNumLikes(postId)

      fetch('/update-like', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ postId: postId }),
      });
    }
  </script>
</body>
</html>
