<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <link rel="icon" href="/images/logo.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">
  <title><%= profile.username %>'s profile</title>
</head>
<body>
  <%- include('sidebar.ejs') %>
  <div class="profile">
    <button id="sidebar-toggle-btn" onclick="toggleSidebar()">
      <img src="/images/menu_icon.png" alt="">
    </button>
    <div class="post-list">
      <div id="profile-container" class="container">
        <label class="avatar-input">
          <img class="avatar" id="avatar-image" src="<%= profile.avatar ? 'data:' + profile.avatar.imageContentType + ';base64,' + (profile.avatar.data ? profile.avatar.data.toString('base64') : '') : '' %>" alt="Avatar">
        </label>
        <% if (isOwnProfile) { %>
        <div class="edit-avatar">
          <button class="edit-btn" id="edit-avatar-btn" onclick="handleEditAvatar()">
            <img src="/images/upload_icon.png" alt="">
          </button>
          <!-- Hidden file input for avatar upload -->
          <input type="file" accept="image/*" id="avatar-input" style="display: none">
        </div>
        <% } %>
        <h4 class="username"><%= profile.username %></h4>
      </div>
      <% if (profile.posts.length > 0) { %>
        <ul>
          <% profile.posts.forEach(post => { %>
            <li id="<%= post.id %>" class="post">
              <div class="post-header">
                <div class="avatar-username">
                  <img class="avatar" src="<%= post.avatar ? 'data:' + post.imageContentType + ';base64,' + (post.avatar.data ? post.avatar.data.toString('base64') : '') : '' %>" alt="Avatar">
                  <div class="username-container">
                    <a href="/profile/<%= post.author%>" class="username"><%= post.author %></a>
                    <div class="time"><%= helper.adjustTime(post.timeCreate) %></div>
                  </div>
                </div>
                <% if (isOwnProfile) { %>
                <div class="options">
                  <button class="edit-btn" onclick="handleEditPost('<%= post.id %>')">
                    <img src="/images/edit_icon.png" alt="">
                  </button>
                  <button class="remove-btn" onclick="handleRemovePost('<%= post.id %>')">
                    <img src="/images/remove_icon.png" alt="">
                  </button>
                </div>
                <% } %>
              </div>
              <p id="caption" contenteditable="false"><%= post.caption %></p>
              <img id="image" class="image" src="data:<%= post.image.contentType %>;base64,<%= post.image.data.toString('base64') %>" alt="Image">
              <div id="like">
                  <button id="like-btn" onclick="handleLike('<%= post.id %>', '<%= user.username %>')">
                    <% if (post.liked) { %>
                      <div>&#128514</div>
                    <% } else { %>
                      <div>&#128528</div>
                    <% } %>
                  </button>
                  <div class="likes-container">
                    <div>(</div>
                    <div id="num-likes"><%= post.numLikes %></div>
                    <div>&nbsp;haha)</div>
                    <div id="haha-emoji" class="no-display">&#128528</div>
                  </div>
              </div>
            </li>
          <% }) %>
        </ul>
      <% } %>
    </div>
  </div>
	<script>
    function setTime() {
      const currentTime = new Date();
      document.getElementById('timeCreate').value = currentTime.toISOString();
    }

    function toggleSidebar() {
      var sidebar = document.getElementById('sidebar');
      var newsfeed = document.getElementById('newsfeed');

      if (sidebar.style.left === "-3px") {
        sidebar.style.left = "-303px";
        newsfeed.style.marginLeft = "0";
      } else {
        sidebar.style.left = "-3px";
        newsfeed.style.marginLeft = "300px";
      }
    }

    function setNumLikes(postId) {
      var likedPost = document.getElementById(postId);
      var likeButton = likedPost.querySelector('#like-btn');
      var numLikesEntity = likedPost.querySelector('#num-likes');
      var emoji = likeButton.querySelector("div");
      var numLikes = numLikesEntity.innerHTML;
      var newLikeCount;

      if (emoji.innerHTML === document.getElementById('haha-emoji').innerHTML) {
        newLikeCount = Number(numLikes) + 1;
        emoji.innerHTML = '&#128514'
      } else {
        newLikeCount = Number(numLikes) - 1;
        emoji.innerHTML = '&#128528'
      }
      numLikesEntity.innerHTML = newLikeCount;
    }

    function handleLike(postId, username) {
      setNumLikes(postId)

      fetch('/update-like', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ postId: postId }),
      });
    }

    function togglePostOptions(postId) {
      var optionsMenu = document.getElementById('post-options-menu-' + postId);
      optionsMenu.style.display = optionsMenu.style.display === 'block' ? 'none' : 'block';

      // Close other open menus
      var allMenus = document.querySelectorAll('.post-options-menu');
      allMenus.forEach(menu => {
        if (menu.id !== 'post-options-menu-' + postId) {
          menu.style.display = 'none';
        }
      });
    }

    function handleEditPost(postId) {
      var postElement = document.getElementById(postId);
      var captionElement = postElement.querySelector('#caption');
      var editBtnElement = postElement.querySelector('.edit-btn')


      var tickIconPath = '/images/tick_icon.png';
      var editIconPath = '/images/edit_icon.png';
      var imageElement = editBtnElement.querySelector('img');

      if (imageElement.src.endsWith(editIconPath)) {
        imageElement.src = tickIconPath;
        // Create a range and select the text
        var range = document.createRange();
        range.selectNodeContents(captionElement);
        
        // Get the selection object and remove any existing ranges
        var selection = window.getSelection();
        selection.removeAllRanges();

        // Add the new range to the selection
        selection.addRange(range);

        // Move the cursor to the end of the sentence
        range.collapse(false);

        // Set the contentEditable attribute to true after the selection
        captionElement.contentEditable = 'true';

        // Focus on the caption element
        captionElement.focus();
      } else {
        imageElement.src = editIconPath;
        captionElement.contentEditable = 'false';
        const newCaption = captionElement.innerHTML;
        fetch('/edit-caption', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ postId: postId, newCaption: newCaption }),
        });
      }
    }

    function handleRemovePost(postId) {
      var userChoice = window.confirm('Are you sure you want to delete this post?');

      if (userChoice) {
        fetch('/delete-post', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ postId: postId }),
        });

        document.location.reload();
      } 
    }

    function handleEditAvatar() {
      var profileContainer = document.getElementById('profile-container');
      var avatarImage = profileContainer.querySelector('.avatar');
      var editBtnElement = profileContainer.querySelector('.edit-btn');

      var tickIconPath = '/images/tick_icon.png';
      var editIconPath = '/images/upload_icon.png';
      var imageElement = editBtnElement.querySelector('img');

      if (imageElement.src.endsWith(editIconPath)) {
        imageElement.src = tickIconPath;

        // Create a file input dynamically
        var fileInput = document.createElement('input');
        fileInput.type = 'file';
        fileInput.accept = 'image/*';
        fileInput.style.display = 'none'; // Hide the file input

        // Set an event listener for file selection
        fileInput.addEventListener('change', function (event) {
          var selectedFile = event.target.files[0];
          if (selectedFile) {
            // Display the selected image, you can customize this part as needed
            avatarImage.src = URL.createObjectURL(selectedFile);
            handleAvatarUpload(selectedFile);
          }
        });

        // Append the file input to the body and trigger a click on it
        document.body.appendChild(fileInput);
        fileInput.click();
        document.body.removeChild(fileInput); // Remove the file input from the body after click
      } else {
        imageElement.src = editIconPath;
        document.location.reload();
      }
    }

    function handleAvatarUpload(file) {
      // Perform actions with the selected avatar file, for example:
      const formData = new FormData();
      formData.append('avatar', file);

      fetch('/update-avatar', {
        method: 'POST',
        body: formData,
      })
    }

  </script>
</body>
</html>
